img{
	width:100%;
}

.progress-bar {
	position: relative;
	height: 20px;
	width: 100%;
	border-radius: 50px;
	border: 1px solid #333;
}

.filler {
	background: #1DA598;
	height: 100%;
	border-radius: inherit;
	transition: width .2s ease-in
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.frozen {
  background: #FAEBD7;
}